
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div align="center">
        @Html.Action("GetProfileDetails","Student")
        <h1>
            Welcome to MVC Application
            <br/>
            User ID : @ViewBag.loginid
            <br/>
            @Html.ActionLink("Search","Search","Student")
        </h1> 
    </div>
</body>
</html>
