<div align="center">
    <h2>
        <div>
            Student ID : @ViewBag.id
        </div>
        <div>
            Student Name : @ViewBag.name
        </div>
        <div>
            <img height="100px" width="200px" src=@ViewBag.imgaddress />
        </div>
    </h2>
</div>
